*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sidebar{
    position: absolute;
    font-family:'fira sans', Arial, sans-serif;
    transition: transform 0.0s ease-in;
}
.sidebar nav{
    background-color: rgb(30, 69, 69);
    height: 40.8rem;
    padding: 45px;
}
.sidebar nav li{
    background-color: rgb(62, 62, 47);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(214, 175, 175), /* Red */
                0 0 10px rgb(120, 14, 14), /* Green */
                0 0 10px rgb(181, 166, 26); /* Blue */
    margin-top: 1rem;
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
    font-family: 'source code pro', monospace;
}
.sidebar nav li a{
    text-decoration: none;
   color: aliceblue;
}
.sidebar nav li:hover{
    background-color: rgb(33, 46, 46);
}
.blog{
    margin-left: 2rem;
}
.home{
    margin-left: 2rem;
}
.services{
    margin-left: 1rem;
}
.intro{
    margin-left: 1rem;
}
.main{
    background-image: url('back2.jpg');
    background-size: cover;
    width: 100vw;
    height: 735px;
    padding: 5px;
}
.blogcontainer h1{
    margin-left: 18rem;
    color: rgb(235, 199, 199);
}
.blogiteam h2{
    color: rgb(4, 5, 5);
    font-size: 30px;
}
.blogiteam{
    background-color: antiquewhite;
    width: 70vw;
    color:black;
    margin-left: 20rem;
    font-size: 20px;
    padding: 5px;
}
.blogiteam p{
    font-family:monospace;
}
.RM{
    width: 77px;
    height: 30px;
    border-radius: 15px;
    margin: 10px 0 0 0;
    cursor: pointer;
}
.RM:hover{
    background-color: rgb(152, 142, 9);
    color: rgb(60, 132, 194);
}
.sidebarGo{
    transform: translate(-440px , 0px);
    position: absolute;
 }
.hamburger{
     position: absolute;
     cursor: pointer;
     top: 10px;
     left: 10px;
}
.cross{
    margin-left: 168px;
}

