*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sidebar{
    background-size: cover;
    width: 300px;
    background-color: rgb(106, 167, 167);
    height:100vh;
    font-family:'fira sans', Arial, sans-serif;
}
.sidebar nav{
   
    padding: 45px;
}
.sidebar nav li{
    background-color: rgb(62, 62, 47);
    border-radius: 20px;
    margin-top: 1rem;
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}
.sidebar nav li a{
    background-size: cover;
    text-decoration: none;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar nav li:hover{
    background-color: rgb(33, 46, 46);
}
.blog{
    margin-left: 2rem;
}
.home{
    margin-left: 2rem;
}
.services{
    margin-left: 2rem;
}
.intro{
    margin-left: 2rem;
}
.main{
    background-color: rgb(38, 86, 86);
    background-size: cover;
    width: 100vw;
    height: 48.3vw;
}
.contactform{
    background-image: url('back3.jpg');
    background-size: cover;
    margin-top: 100px;
    margin-left: 200px;
    height: 70%;
    width: 60vw;
    font-family:'fira sans', Arial, sans-serif;
    border-radius: 10px; /* Adjust the radius as needed */
    box-shadow: 0 0 20px rgb(255, 1, 1); /* Neon cyan color */
}
.contactform h1{
    color: aliceblue;
    padding: 08px 125px;
    padding-top: 10px;
}
.contactform form div{
    font-family: 'source code pro', monospace;
    color: antiquewhite;
    padding: 07px 150px;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
   width: 26vw;
   border-radius: 5px;
   margin: 6px 0 0 0;
   padding: 3px;
}
.btn-sm{
    width: 14vw;
    height: 25px;
    border-radius: 14px;
    margin: 6px 0 0 0;
    cursor: pointer;
}
.btn-sm:hover{
    background-color: rgb(152, 9, 9);
    color: aliceblue;
}
.form-check{
    flex-direction:row;
}
#form-check input{
    width: 1.5vw;
    margin: 3px 0;
}
#emailHelp{
    font-size: 15px;
    color: rgb(255, 0, 0);
    margin: 10px 5px;
}
.sidebarGo{
    transform: translate(-440px , 0px);
    position: absolute;
 }
.hamburger{
     position: absolute;
     cursor: pointer;
     top: 10px;
     left: 10px;
}
.cross{
    margin-left: 198px;
}
