*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sidebar{
    background-color: aqua;
    width: 300px;
    height:115vh;
    font-family:'fira sans', Arial, sans-serif;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    background-color: rgb(62, 62, 47);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(214, 175, 175), /* Red */
                0 0 20px rgb(120, 14, 14), /* Green */
                0 0 20px rgb(181, 166, 26); /* Blue */
    margin-top: 20px;
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.sidebar nav li:hover{
    background-color: rgb(33, 46, 46);
  }
.blog{
    margin-left: 2rem;
}
.home{
    margin-left: 2rem;
}
.services{
    margin-left: 2rem;
}
.intro{
    margin-left: 2rem;
}
.contact{
    margin-left: 1rem;
}
.main{
    width: 100vw; 
}
.introcontainer{
    background-color:black;
    height: 115vh;
}
.introcontainer h1{
    color: aliceblue;
    padding-left:  404px;
}
.introitem{
    margin-left: 2rem;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size:22px;
}
.introitem p{
    padding: 10px;
    color: aliceblue;
}
.WR{
    color: aliceblue;
    margin-top: 20px;
}
.sidebarGo{
    transform: translate(-440px , 0px);
    position: absolute;
 }
.hamburger{
     position: absolute;
     cursor: pointer;
     top: 10px;
     left: 10px;
}
.cross{
    margin-left: 198px;
}
